---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const name = t("form.name");
const lastname = t("form.lastname");
const email = t("form.email");
const phone = t("form.phone");
const company = t("form.company");
const city = t("form.city");
const message = t("form.message");
const nameButton = t("form.nameButton");
const title = t("form.title");
const description = t("form.description");
---

<div
  class="container-alert fixed top-40 left-1/2 w-full max-w-screen-md px-4 translate-x-[-50%] right-5 z-50"
>
</div>
<div class="flex flex-col gap-10 px-4" id="form">
  <div class="flex max-w-screen-2xl mx-auto flex-col lg:flex-row gap-10 px-4">
    <article class="flex flex-col max-w-screen-md items-center justify-center">
      <h1
        class="font-bold text-3xl text-white inline-block w-full md:text-4xl text-start mb-8"
      >
        {title}
      </h1>
      <p class="text-white inline-block text-base text-start md:text-3xl">
        {description}
      </p>
    </article>
    <div
      class="relative rounded-lg shadow-lg mx-auto px-6 py-8 max-w-screen-xl bg-gray-50 justify-center"
    >
      <form id="contactForm" class="overflow-y-visible">
        <div class="flex flex-col sm:flex-row sm:gap-2">
          <!-- Input nombre -->
          <div class="w-full md:w-1/2 mb-4 md:mb-6">
            <label
              class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
              for="grid-first-name"
            >
              {name}
            </label>
            <input
              required
              name="nombre"
              class="appearance-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name"
              type="text"
              placeholder={lang === "en" ? "Name" : "Nombre"}
            />
          </div>

          <!-- Input apellidos -->
          <div class="w-full md:w-1/2 mb-4 md:mb-6">
            <label
              class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
              for="grid-last-name"
            >
              {lastname}
            </label>
            <input
              required
              name="apellido"
              class="appearance-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-last-name"
              type="text"
              placeholder={lang === "en" ? "Lastname" : "Apellido"}
            />
          </div>
        </div>

        <!-- Input email -->
        <div class="flex flex-wrap">
          <div class="w-full mb-4 md:mb-6">
            <label
              class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
            >
              {email}
            </label>
            <input
              required
              name="email"
              class="appearance-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-password"
              type="email"
              placeholder="example@mail.com"
            />
            <p class="text-gray-600 text-xs italic"></p>
          </div>
        </div>

        <!-- Input celular -->
        <div class="w-full flex flex-col sm:flex-row sm:gap-2">
          <div class="w-full mb-4 md:mb-6">
            <label
              class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
              for="grid-zip"
            >
              {phone}
            </label>
            <input
              required
              name="celular"
              class="appearance-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-zip"
              type="text"
              placeholder={lang === "en" ? "Phone number" : "Número de celular"}
            />
          </div>

          <!-- Input empresa -->
          <div class="w-full md:w-full mb-4 md:mb-6">
            <label
              class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
              for="grid-zip"
            >
              {company}
            </label>
            <input
              required
              name="nombre_empresa"
              class="appearance-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-zip"
              type="text"
              placeholder={lang === "en"
                ? "Company name"
                : "Nombre de la empresa"}
            />
          </div>
        </div>
        <!-- Input ciudad -->
        <div class="w-full md:w-full mb-4 md:mb-6">
          <label
            class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
            for="grid-zip"
          >
            {city}
          </label>
          <input
            required
            name="ciudad"
            class="appearance-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-zip"
            type="text"
            placeholder={lang === "en" ? "City" : "Ciudad"}
          />
        </div>

        <!-- Text area -->

        <div class="flex flex-wrap mb-4 md:mb-6">
          <div class="w-full">
            <label
              class="block uppercase tracking-wide text-tcf-blue text-xs font-bold mb-2"
            >
              {message}
            </label>
            <textarea
              required
              name="comentarios"
              class="appearance-none resize-none block w-full bg-gray-50 text-tcf-blue rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="grid-password"
              placeholder={lang === "en" ? "Message" : "Mensaje"}></textarea>
            <p class="text-gray-600 text-xs italic"></p>
          </div>
        </div>

        <!-- Boton enviar -->

        <div class="flex justify-end">
          <button
            type="submit"
            class="btn-submit min-w-[120px] text-white rounded-3xl hover:bg-gray-50 hover:text-tcf-blue hover:border hover:border-tcf-blue bg-tcf-blue font-bold py-2 px-4 text-xl"
          >
            {nameButton}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  import { gsap as r } from "gsap";
  import { ScrollTrigger as o } from "gsap/ScrollTrigger";
  import { useSubmitHandler as t } from "../../hooks/useHandleSubmit";
  let { handleSubmit: e } = t(),
    form = document.getElementById("contactForm");
  form && form.addEventListener("submit", e),
    r.registerPlugin(o),
    r.fromTo(
      "#form",
      { opacity: 0, y: 50 },
      {
        opacity: 1,
        y: 0,
        duration: 1,
        ease: "power2.out",
        stagger: 0.3,
        scrollTrigger: {
          trigger: "#form",
          start: "top 80%",
          end: "top 20%",
          scrub: 1,
        },
      },
    );
</script>
