---
import { Image } from "astro:assets";
import HeroImage from "../../assets/img/nibble.png";

const content = {
  title: "Software personalizado",
  description:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  ctas: [
    {
      title: "Call to action",
      link: "#",
    },
    {
      title: "CTA 2",
      link: "#",
    },
  ],
  image: {
    url: "/src/assets/img/nibble.png",
    description: "TryCatch.tv Nibble",
  },
};
---

<section class="bg-tcf-blue">
  <div
    class="flex flex-wrap items-center justify-between md:flex-row p-4 max-w-screen-xl mx-auto min-h-screen max-sm:justify-center max-sm:min-h-[900px]"
  >
    <article class="mb-4 lg:w-1/2 max-sm:w-full max-sm:flex max-sm:justify-center max-sm:flex-col max-sm:mt-[8rem] max-sm:text-center">
      <h2
        class="max-w-xl mb-5 text-4xl text-white font-extrabold tracking-tight leading-none md:text-5xl xl:text-6x lg:mb-14"
      >
        {content.title}
      </h2>
      <p
        class="max-w-xl text-tcf-info text-balance font-semibold mb-5 lg:max-w-md lg:mb-14"
      >
        {content.description}
      </p>
      <div class="flex justify-center gap-2 mb-5 lg:justify-start lg:mb-14 max-sm:mt-5">
        <a
          class="max-w-[154px] min-w-[154px] h-10 py-2.5 px-3 me-2 mb-2 text-sm text-center font-bold text-tcf-blue focus:outline-none bg-white rounded-full border border-tcf-gray hover:bg-tcf-gray-l hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-tcf-gray-l"
          >{content.ctas[0].title}
        </a>
        <a
          class="max-w-[154px] min-w-[154px] h-10 py-2.5 px-3 me-2 mb-2 text-sm text-center font-medium text-white focus:outline-none bg-tcf-blue rounded-full border border-tcf-gray hover:bg-tcf-gray-l hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-tcf-gray-l"
          >{content.ctas[1].title}
        </a>
      </div>
    </article>
    <div class="border rounded-xl bg-tcf-gray lg:w-1/2 lg:my-14">
      <Image
        src={HeroImage}
        class="w-full h-auto mr-2 object-cover"
        alt="TryCatch.tv Nibble"
      />
    </div>
  </div>
</section>
