---
import { Github, Linkedin, Mailbox } from "lucide-astro";
import HeroImage from "../../assets/img/worker_svgrepo.com.svg";
import Image from "astro/components/Image.astro";

const profiles = [
  {
    img: HeroImage,
    name: "Julian Moreno",
    roles: "Tech Lead",

    socialMedia: [
      {
        icon: Linkedin,
        url: "https://www.linkedin.com/in/johndoe",
      },
      {
        icon: Github,
        url: "https://www.linkedin.com/in/johndoe",
      },
      {
        icon: Mailbox,
        url: "https://www.linkedin.com/in/johndoe",
      },
    ],
  },
  {
    img: HeroImage,
    name: "Angel Santibañez",
    roles: "FullStack Jr Developer",

    socialMedia: [
      {
        icon: Linkedin,
        url: "https://www.linkedin.com/in/johndoe",
      },
      {
        icon: Github,
        url: "https://www.linkedin.com/in/johndoe",
      },
      {
        icon: Mailbox,
        url: "https://www.linkedin.com/in/johndoe",
      },
    ],
  },
  {
    img: HeroImage,
    name: "Manuel Barrios",
    roles: "FullStack Jr Developer",

    socialMedia: [
      {
        icon: Linkedin,
        url: "https://www.linkedin.com/in/johndoe",
      },
      {
        icon: Github,
        url: "https://www.linkedin.com/in/johndoe",
      },
      {
        icon: Mailbox,
        url: "https://www.linkedin.com/in/johndoe",
      },
    ],
  },
];
---

<section class="py-16 min-h-[90vh]" id="seccionProfiles">
  <h1
    class="min-w-xl mb-5 py-10 text-center text-3xl md:text-4xl text-[#172554] font-bold leading-none md:text-center xl:text-6x lg:mb-14"
  >
    Nuestro Equipo
  </h1>
  <!-- <div
    class="flex flex-col justify-center w-full md:flex-row md:gap-16 max-w-screen-xl mx-auto"
  >
    {
      profiles.map((profile) => (
        <div
          class="flex gap-4 items-center  justify-center  py-6"
          id="profiles"
        >
          <Image class="w-36 h-36" src={profile.img} alt={profile.name} />
          <div class="flex flex-col gap-2 max-w-[120px] ">
            <h2 class="font-semibold  text-2xl max-w-[120px] ">
              {profile.name}
            </h2>
            <p class="max-w-[120px]">{profile.roles}</p>
            <div class="flex gap-4">
              {profile.socialMedia.map((social) => (
                <a href={social.url}>
                  <social.icon />
                </a>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div> -->
</section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  gsap.fromTo(
    "#profiles",
    {
      opacity: 0,
      y: 50,
    },
    {
      opacity: 1,
      y: 0,
      duration: 1,
      ease: "power2.out",
      stagger: 0.3, // Añade un retardo entre cada tarjeta
      scrollTrigger: {
        trigger: "#seccionProfiles",
        start: "top 80%", // Comienza cuando el contenedor está en el 80% de la ventana
        end: "top 20%", // Termina cuando el contenedor está en el 20% de la ventana
        scrub: 1, // La animación sigue el scroll de manera suave
       
      },
    },
  );
</script>
