---
import Image from "astro/components/Image.astro";
import angular from "../../assets/img/angular.svg"
import react from "../../assets/img/react.svg"
import vue from "../../assets/img/vue.svg"
import svelte from "../../assets/img/svelte.svg"
import spring from "../../assets/img/spring.svg"
import nestjs from "../../assets/img/nestjs.svg"
import django from "../../assets/img/django.svg"
import laravel from "../../assets/img/laravel.svg"
import aws from "../../assets/img/aws.svg"
import azure from "../../assets/img/azure.svg"
import googleCloud from "../../assets/img/google-cloud.svg"
import oracle from "../../assets/img/oracle.svg"
import kotlin from "../../assets/img/kotlin.svg"
import flutter from "../../assets/img/flutter.svg"
import swift from "../../assets/img/swift.svg"
const technologyData = [
  {
    title: "Frontend",
    tecnologies: [
      {
        name: "item",
        url: angular,
      },
      {
        name: "item",
        url: react,
      },
      {
        name: "item",
        url: vue,
      },
      {
        name: "item",
        url: svelte,
      },
    ],
    quantity: 20,
    description: "Proyectos realizados.",
  },

  {
    title: "Backend",
    tecnologies: [
      {
        name: "item",
        url: spring,
      },
      {
        name: "item",
        url: nestjs,
      },
      {
        name: "item",
        url: django,
      },
      {
        name: "item",
        url: laravel,
      },
    ],
    quantity: 15,
    description: "Años de experiencia acumulada.",
  },
  {
    title: "Cloud",
    tecnologies: [
      {
        name: "item",
        url: aws,
      },
      {
        name: "item",
        url: azure,
      },
      {
        name: "item",
        url: googleCloud,
      },
      {
        name: "item",
        url: oracle,
      },
    ],
    quantity: 5,
    description: "Especialistas AWS certified.",
  },
  {
    title: "Mobile",
    quantity: 5,
    description: "lorem ipsum dolor sit amet.",
    tecnologies: [
      {
        name: "item",
        url: kotlin,
      },
      {
        name: "item",
        url: flutter,
      },
      {
        name: "item",
        url: react,
      },
      {
        name: "item",
        url: swift,
      },
    ],
  },
];
---

<section
  class="max-w-screen-xl p-6 mx-auto sm:py-12 lg:py-24 min-h-screen flex flex-col justify-center"
>
  <h2
    class="text-[#172554] text-3xl font-bold leading-none sm:text-4xl text-center"
  >
    Tecnologías
  </h2>
  <div class="flex gap-10 gap-x-20 flex-wrap justify-center mx-auto mt-12">
    {
      technologyData.map((item) => (
        <div class="border-[#172554] rounded-xl py-6 px-2.5 md:px-8 max-w-xl md:border">
          <h3 class="text-[#172554] text-xl font-bold leading-none sm:text-2xl text-center">
            {item.title}
          </h3>
          <div class="flex flex-col md:flex-row gap-1 justify-center items-center my-5">
            <strong>+{item.quantity}</strong>
            <p class="text-center text-[#172554]">{item.description}</p>
          </div>
          <div class="flex flex-wrap gap-1.5 max-sm:justify-center">
            {item.tecnologies.map((tech) => (
              <div class="h-24 rounded-xl border overflow-hidden place-content-between max-sm:h-14">
                <Image
                  class="w-full h-full"
                  src={tech.url}
                  alt={tech.name}
                  title={tech.name}
                />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
