---
import Layout from "../../layouts/Layout.astro";
import HeroServices from "../../components/landing/HeroServices.astro";
import CallToActionLanding from "../../components/landing/CallToActionLanding.astro";
import WeOfferServicesLanding from "../../components/landing/WeOfferServicesLanding.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const services = await getCollection("services");

  const paths = services.flatMap((service: any) => {
    const webPath: any = service.data.services[0].namePage?.web;
    const mobilePath: any = service.data.services[0].namePage?.mobile;

    const webPathObject = {
      params: {
        service: webPath,
      },
      props: {
        data: service.data.services[0],
      },
    };

    const mobilePathObject = {
      params: {
        service: mobilePath,
      },
      props: {
        data: service.data.services[0],
      },
    };

    // Filtra los casos donde no hay ninguna ruta definida
    const definedPaths = [webPathObject, mobilePathObject];

    return definedPaths;
  });

  return paths;
}

const { service } = Astro.params || {};
const { data } = Astro.props || {};

// Verificar si service está presente en Astro.params
const serviceValue = service ? service : "";


const title = serviceValue
  ? serviceValue === data.namePage.web
    ? data.namePage.web
    : data.namePage.mobile
  : "";

const titleHero = serviceValue
  ? serviceValue === data.namePage.web
    ? data.title.web
    : data.title.mobile
  : "";

const descriptionHero = serviceValue
  ? serviceValue === data.namePage.web
    ? data.description.web
    : data.description.mobile
  : "";
const levelEstructureTeam =serviceValue
  ? serviceValue === data.namePage.web
    ? data.levelEstructureTeam.web
    : data.levelEstructureTeam.mobile
  : "";
const desarrollo = serviceValue
  ? serviceValue === data.namePage.web
    ? data.desarrollo.web
    : data.desarrollo.mobile
  : "";

---

<Layout title={title}>
  <main>
    <HeroServices titleHero={titleHero} descriptionHero={descriptionHero} />
    <CallToActionLanding />
    <WeOfferServicesLanding levelEstructureTeam={levelEstructureTeam} desarrollo={desarrollo} />
  </main>
</Layout>
