---
import { getCollection } from "astro:content";
import CharacteristicsLanding from "../../components/landing/CharacteristicsLanding.astro";
import HowFunctionLanding from "../../components/landing/HowFunctionLanding.astro";
import NameProject from "../../components/landing/NameProject.astro";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
    const projects = await getCollection("projects");

    const paths = projects.flatMap((project: any) => {
        const projectKeys = Object.keys(project.data.projects[0]);

        const projectPathObjects = projectKeys.map((key: string) => {
            const projectData = project.data.projects[0][key];
            return {
                params: {
                    project: key,
                },
                props: {
                    projectData: projectData,
                },
            };
        });

        return projectPathObjects;
    });

    return paths;
}
const { projectData } = Astro.props;
const howContext = projectData.howContext;
const howItems = projectData.howItems;
const characteristics = projectData.characteristics;
const title = projectData.title;
---



<Layout title="Portafolio">
    <main
        class="min-h-screen min-w-screen-2xl flex justify-center items-center flex-col
         bg-custom-bg bg-cover bg-center px-4"
        id="portafolio"
    >
        <div class="absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm">
        </div>
        <h1
            class="relative text-4xl md:text-6xl font-extrabold text-center text-white mb-5"
            id="title"
        >
            {projectData.title}
        </h1>
        <div
            class="flex relative flex-col lg:w-[29rem] md:w-96 max-md:w-96 sm:w-auto max-sm:w-auto"
        >
            <p
                class="text-xl md:text-2xl font-medium text-center text-white break-all"
            >
                {projectData.description}
            </p>
        </div>
    </main>
    <div class="w-full">
        <div class="w-full py-36">
            <h1
                class="text-tcf-blue font-bold text-center text-3xl md:text-4xl py-2"
            >
                Características
            </h1>
            <CharacteristicsLanding characteristics={characteristics} />
        </div>
        <div>
            <HowFunctionLanding howContext={howContext} howItems={howItems} />
        </div>
        <div>
            <NameProject title={title} />
        </div>
    </div>
</Layout>
