---
import { Image } from "astro:assets";
import nibble from "../../assets/img/nibble.png";
import { Icon } from "astro-icon/components";

const foiterItemsList = {
  footerItems: [
    {
      name: "Servicios",
      path: "/",
      footerListServices: [
        { name: "Desarrollo Web" },
        { name: "Desarrollo Web" },
        { name: "Desarrollo Web" },
      ],
    },
    {
      name: "Recursos",
      path: "/Recursos",
      footerListRecursos: [
        { name: "Blog" },
        { name: "Blog" },
        { name: "Blog" },
      ],
    },
    {
      name: "Industrias",
      path: "/Industrias",
      footerListIndustrias: [
        { name: "Industrias 1" },
        { name: "Industrias 1" },
        { name: "Industrias 1" },
      ],
    },
    {
      name: "Equipo",
      path: "/Equipo",
      footerListEquipos: [
        { name: "Miembros" },
        { name: "Miembros" },
        { name: "Miembros" },
      ],
    },
  ],
};
---

<script lang="js">
  const whatsappButton = document.querySelector("#botonWhast");
  window.addEventListener("scroll", () => {
    const scrollY = window.scrollY;
    whatsappButton.style.transform = `translateY(${scrollY}px)`;
  });
</script>

<footer
  class="flex flex-row bg-[#070B18] w-full h-2/5 max-md:flex-col xl:h-2/6 lg:h-[265px] md:h-[265px] max-sm:h-full"
>
  <div class="flex flex-row h-full w-6/12 max-md:w-full max-sm:h-1/2">
    <div
      class="flex flex-col w-full xljustify-center ml-24 2xl:ml-[130px] max-sm:ml-0 max-md:ml-0 md:ml-0"
    >
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto max-sm:w-full max-sm:justify-start"
      >
        <Image
          src={nibble}
          class="w-[150px] h-[150px] mr-2 max-sm:w-[80px] max-sm:h-[80px] max-sm:m-5"
          alt="TryCatch.tv Nibble"
        />
        <h2
          class="text-2xl text-center text-gray-100 mt-2 2xl:text-[46px] xl:text-[36px] lg:text-[26px] max-sm:text-[36px] max-sm:ml-2"
        >
          TryCatch Factory
        </h2>
      </div>
    </div>
  </div>

  <div class="flex flex-row h-full w-6/12 mr-4 max-md:w-full max-sm:w-full">
    <div class="flex flex-col w-full xl:justify-center md:flex-col max-sm:justify-center">
      <div class="flex flex-col justify-evenly py-1 max-sm:justify-end">
        <div
          class="flex flex-row w-7/12 max-sm:flex-col max-sm:justify-center max-sm:w-full justify-end"
        >
          <div
            class="flex w-full flex-row justify-evenly mt-12 max-md:mt-0 max-sm:mt-8 max-sm:justify-center "
          >
            {
              foiterItemsList.footerItems.map((e: any) => (
                <>
                  <div class="mr-4">
                    {e.name === "Servicios" ? (
                      <div class="flex flex-col">
                        <div class="text-white font-bold">{e.name}</div>
                        <div class="text-white">
                          {e.footerListServices.map((e: any) => (
                            <div class="text-white mt-2">{e.name}</div>
                          ))}
                        </div>
                      </div>
                    ) : null}
                  </div>
                  <div class="ml-1 max-sm:ml-3">
                    {e.name === "Recursos" ? (
                      <div class="flex flex-col">
                        <div class="text-white font-bold">{e.name}</div>
                        <div class="text-white">
                          {e.footerListRecursos.map((e: any) => (
                            <div class="text-white mt-2 text-center">
                              {e.name}
                            </div>
                          ))}
                        </div>
                      </div>
                    ) : null}
                  </div>
                </>
              ))
            }
          </div>
          <div
            class="flex w-full flex-row justify-evenly mt-12 max-md:mt-0 max-sm:mt-12 max-sm:justify-center"
          >
            {
              foiterItemsList.footerItems.map((e: any) => (
                <>
                  <div class="mr-4">
                    {e.name === "Servicios" ? (
                      <div class="flex flex-col">
                        <div class="text-white font-bold">{e.name}</div>
                        <div class="text-white">
                          {e.footerListServices.map((e: any) => (
                            <div class="text-white mt-2">{e.name}</div>
                          ))}
                        </div>
                      </div>
                    ) : null}
                  </div>
                  <div class="ml-1 max-sm:ml-3">
                    {e.name === "Recursos" ? (
                      <div class="flex flex-col">
                        <div class="text-white font-bold">{e.name}</div>
                        <div class="text-white">
                          {e.footerListRecursos.map((e: any) => (
                            <div class="text-white mt-2 text-center">
                              {e.name}
                            </div>
                          ))}
                        </div>
                      </div>
                    ) : null}
                  </div>
                </>
              ))
            }
          </div>
        </div>
      </div>
      <div
        class="flex flex-row justify-center mr-16 space-x-16 mt-5 md:space-x-8 2xl:mr-32 max-sm:space-x-4 max-sm:ml-8 pb-8 max-sm:justify-evenly"
      >
        <Icon name="ic:baseline-facebook" class="text-white text-xl mx-2" />
        <Icon name="fa6-brands:x-twitter" class="text-white text-xl mx-2" />
        <Icon name="mdi:youtube" class="text-white text-xl mx-2" />
        <Icon name="ic:baseline-tiktok" class="text-white text-xl mx-2" />
        <Icon name="mingcute:medium-fill" class="text-white text-xl mx-2" />
        <a
          href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20más"
          id="botonWhast"
          class="fixed bottom-4 right-4 2xl:bottom-[50px] 2xl:right-[100px] xl:bottom-[50px] xl:right-[20px] lg:bottom-[50px] lg:right-[35px] max-sm:bottom-[55px] max-sm:right-[25px] px-6 py-6 rounded-full bg-green-500 text-white flex items-center hover:scale-110 hover:shadow-lg transition-transform transition-duration-500 lg:px-2 lg:py-2 md:px-2 md:py-2 max-sm:px-2 max-sm:py-2"
        >
          <Icon name="logos:whatsapp-icon" class="text-4xl max-sm:text-2xl" />
        </a>
      </div>
    </div>
  </div>
</footer>
