---
const year = new Date().getFullYear();
const footerItems = [
  { name: "Servicios", path: "/" },
  { name: "Recursos", path: "/Recursos" },
  { name: "Industrias", path: "/Industrias" },
  { name: "Equipo", path: "/Equipo" },
];
const footerListServices = [
  { name: "Desarrollo Web" },
  { name: "Desarrollo Web" },
  { name: "Desarrollo Web" },
];
const footerListRecursos = [
  { name: "Blog" },
  { name: "Blog" },
  { name: "Blog" },
];
const footerListIndustrias = [
  { name: "Industrias 1" },
  { name: "Industrias 1" },
  { name: "Industrias 1" },
];
const footerListEquipos = [
  { name: "Miembros" },
  { name: "Miembros" },
  { name: "Miembros" },
];


const img = "src/assets/img/nibble.png";
---

<footer class="flex flex-row bg-tcf-gray-foot fixed bottom-0 w-full h-2/5">
  <div class="flex flex-row h-full w-6/12">
    <div class="flex flex-col w-full">
      <div class="flex flex-row justify-center mt-12">
        <img src={img} class="w-[60px] h-[57px] mr-2" />
        <h2 class="text-2xl text-center text-gray-100 mt-2">
          TryCatch Factory
        </h2>
      </div>
    </div>
  </div>
  <div class="flex flex-row h-full w-6/12">
    <div class="flex flex-col w-full">
      <div class="flex flex-col justify-evenly">
        <div class="flex flex-row justify-evenly mt-12">
          {
            footerItems.map((e, index) => (
              <div class="text-gray-100 mt-3">
                {" "}
                {/* Add key prop for optimization (optional) */}
                <ul>
                  <li>{e.name}</li>
                </ul>
              </div>
            ))
          }
        </div>
        <div class="flex flex-row justify-evenly mt-10">
          <div class="flex flex-col">
            {
              footerListServices.map((e) => (
                <div class="text-gray-100">
                  <ul class="mt-2">
                    <li>{e.name}</li>
                  </ul>
                </div>
              ))
            }
          </div>
          <div class="flex flex-col">
            {
              footerListRecursos.map((e) => (
                <div class="text-gray-100 flex">
                  <ul class="mt-2">
                    <li>{e.name}</li>
                  </ul>
                </div>
              ))
            }
          </div>
          <div class="flex flex-col">
            {
              footerListIndustrias.map((e) => (
                <div class="text-gray-100 flex">
                  <ul class="mt-2">
                    <li>{e.name}</li>
                  </ul>
                </div>
              ))
            }
          </div>
          <div class="flex flex-col">
            {
              footerListEquipos.map((e) => (
                <div class="text-gray-100 flex">
                  <ul class="mt-2">
                    <li>{e.name}</li>
                  </ul>
                </div>
              ))
            }
          </div>
        </div>
        <div class="flex flex-row justify-end mr-28  mt-3">
          <svg
            class="mx-2"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.5 19.888C16.311 19.164 20 15.013 20 10C20 4.477 15.523 0 10 0C4.477 0 0 4.477 0 10C0 15.013 3.689 19.165 8.5 19.888V13H7C6.60218 13 6.22064 12.842 5.93934 12.5607C5.65804 12.2794 5.5 11.8978 5.5 11.5C5.5 11.1022 5.65804 10.7206 5.93934 10.4393C6.22064 10.158 6.60218 10 7 10H8.5V8C8.5 7.07174 8.86875 6.1815 9.52513 5.52513C10.1815 4.86875 11.0717 4.5 12 4.5H12.5C12.8978 4.5 13.2794 4.65804 13.5607 4.93934C13.842 5.22064 14 5.60218 14 6C14 6.39782 13.842 6.77936 13.5607 7.06066C13.2794 7.34196 12.8978 7.5 12.5 7.5H12C11.8674 7.5 11.7402 7.55268 11.6464 7.64645C11.5527 7.74021 11.5 7.86739 11.5 8V10H13C13.3978 10 13.7794 10.158 14.0607 10.4393C14.342 10.7206 14.5 11.1022 14.5 11.5C14.5 11.8978 14.342 12.2794 14.0607 12.5607C13.7794 12.842 13.3978 13 13 13H11.5V19.888Z"
              fill="white"></path>
          </svg>
          <svg
            class="mx-2"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10 0C4.477 0 0 4.477 0 10C0 11.89 0.525 13.66 1.438 15.168L0.546 18.2C0.494785 18.3741 0.491415 18.5587 0.536244 18.7346C0.581074 18.9104 0.672448 19.0709 0.800759 19.1992C0.929071 19.3276 1.08958 19.4189 1.26542 19.4638C1.44125 19.5086 1.62592 19.5052 1.8 19.454L4.832 18.562C6.39068 19.5051 8.17822 20.0025 10 20C15.523 20 20 15.523 20 10C20 4.477 15.523 0 10 0ZM7.738 12.263C9.761 14.285 11.692 14.552 12.374 14.577C13.411 14.615 14.421 13.823 14.814 12.904C14.8636 12.7897 14.8816 12.6641 14.8661 12.5405C14.8507 12.4168 14.8023 12.2996 14.726 12.201C14.178 11.501 13.437 10.998 12.713 10.498C12.5618 10.3935 12.3761 10.3516 12.1947 10.381C12.0133 10.4105 11.8503 10.509 11.74 10.656L11.14 11.571C11.1085 11.6202 11.0593 11.6555 11.0026 11.6696C10.9459 11.6837 10.8859 11.6756 10.835 11.647C10.428 11.414 9.835 11.018 9.409 10.592C8.983 10.166 8.611 9.6 8.402 9.219C8.37609 9.17059 8.3686 9.11444 8.38091 9.06093C8.39323 9.00743 8.42453 8.9602 8.469 8.928L9.393 8.242C9.52487 8.12734 9.60996 7.9682 9.63209 7.79486C9.65422 7.62153 9.61183 7.44611 9.513 7.302C9.065 6.646 8.543 5.812 7.786 5.259C7.68831 5.1882 7.57386 5.14406 7.45393 5.13091C7.334 5.11776 7.21271 5.13606 7.102 5.184C6.182 5.578 5.386 6.588 5.424 7.627C5.449 8.309 5.716 10.24 7.738 12.263Z"
              fill="white"></path>
          </svg>
          <svg
            class="mx-2"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.753 1.659C16.8395 1.56011 16.9056 1.44516 16.9477 1.32071C16.9897 1.19626 17.0069 1.06475 16.9981 0.933678C16.9893 0.802608 16.9548 0.674551 16.8965 0.556816C16.8383 0.439081 16.7574 0.333975 16.6585 0.2475C16.5596 0.161024 16.4447 0.0948727 16.3202 0.0528216C16.1958 0.0107705 16.0642 -0.00635638 15.9332 0.00241876C15.8021 0.0111939 15.6741 0.0456994 15.5563 0.103965C15.4386 0.16223 15.3335 0.243115 15.247 0.342L10.137 6.182L5.8 0.4C5.70685 0.275804 5.58607 0.175 5.44721 0.105573C5.30836 0.036145 5.15525 0 5 0H1C0.814289 0 0.632245 0.0517147 0.474269 0.149349C0.316293 0.246984 0.188626 0.386681 0.105573 0.552786C0.0225203 0.718892 -0.0126368 0.904844 0.00404117 1.08981C0.0207191 1.27477 0.0885733 1.45143 0.2 1.6L6.637 10.182L1.247 16.342C1.16053 16.4409 1.09437 16.5558 1.05232 16.6803C1.01027 16.8047 0.993144 16.9363 1.00192 17.0673C1.01069 17.1984 1.0452 17.3264 1.10347 17.4442C1.16173 17.5619 1.24261 17.667 1.3415 17.7535C1.44039 17.84 1.55534 17.9061 1.67979 17.9482C1.80424 17.9902 1.93575 18.0074 2.06682 17.9986C2.19789 17.9898 2.32595 17.9553 2.44368 17.897C2.56142 17.8388 2.66652 17.7579 2.753 17.659L7.863 11.818L12.2 17.6C12.2931 17.7242 12.4139 17.825 12.5528 17.8944C12.6916 17.9639 12.8448 18 13 18H17C17.1857 18 17.3678 17.9483 17.5257 17.8507C17.6837 17.753 17.8114 17.6133 17.8944 17.4472C17.9775 17.2811 18.0126 17.0952 17.996 16.9102C17.9793 16.7252 17.9114 16.5486 17.8 16.4L11.363 7.818L16.753 1.659ZM13.5 16L3 2H4.5L15 16H13.5Z"
              fill="white"></path>
          </svg>
          <svg
            class="mx-2"
            width="16"
            height="20"
            viewBox="0 0 16 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10 0C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2C12.0005 2.69111 12.2393 3.36091 12.6761 3.89647C13.113 4.43202 13.7211 4.80058 14.398 4.94C14.9178 5.04556 15.3744 5.35329 15.6674 5.7955C15.9603 6.23771 16.0656 6.77818 15.96 7.298C15.8544 7.81782 15.5467 8.27443 15.1045 8.56736C14.6623 8.86029 14.1218 8.96556 13.602 8.86C13.0483 8.74734 12.5103 8.56769 12 8.325V14C12 15.1222 11.6852 16.222 11.0914 17.1743C10.4976 18.1265 9.64872 18.8932 8.64105 19.3872C7.63338 19.8812 6.50737 20.0827 5.39093 19.9687C4.27449 19.8548 3.21238 19.4301 2.32525 18.7428C1.43812 18.0554 0.761536 17.1331 0.372353 16.0805C-0.0168312 15.0279 -0.103011 13.8873 0.123603 12.7881C0.350217 11.689 0.88054 10.6755 1.65433 9.86269C2.42812 9.04988 3.41435 8.47037 4.501 8.19C5.01142 8.0669 5.54977 8.14946 5.99984 8.41985C6.44991 8.69023 6.77561 9.12676 6.90663 9.6352C7.03764 10.1436 6.96346 10.6832 6.70011 11.1374C6.43675 11.5917 6.00534 11.9241 5.499 12.063C5.03018 12.1874 4.62246 12.4778 4.35162 12.8802C4.08078 13.2826 3.96523 13.7696 4.02646 14.2508C4.0877 14.7319 4.32153 15.1745 4.68452 15.4962C5.04751 15.818 5.51496 15.997 6 16C6.53043 16 7.03914 15.7893 7.41421 15.4142C7.78929 15.0391 8 14.5304 8 14V2C8 1.46957 8.21072 0.960859 8.58579 0.585786C8.96086 0.210714 9.46957 0 10 0Z"
              fill="white"></path>
          </svg>
          <svg
            class="mx-2"
            width="20"
            height="16"
            viewBox="0 0 20 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10 0C10.855 0 11.732 0.0220001 12.582 0.0580001L13.586 0.106L14.547 0.163L15.447 0.224L16.269 0.288C17.161 0.356278 18.0004 0.736947 18.6395 1.36304C19.2786 1.98913 19.6764 2.82054 19.763 3.711L19.803 4.136L19.878 5.046C19.948 5.989 20 7.017 20 8C20 8.983 19.948 10.011 19.878 10.954L19.803 11.864C19.79 12.01 19.777 12.151 19.763 12.289C19.6764 13.1796 19.2784 14.0112 18.6391 14.6373C17.9999 15.2634 17.1602 15.6439 16.268 15.712L15.448 15.775L14.548 15.837L13.586 15.894L12.582 15.942C11.732 15.978 10.855 16 10 16C9.145 16 8.268 15.978 7.418 15.942L6.414 15.894L5.453 15.837L4.553 15.775L3.731 15.712C2.83895 15.6437 1.99955 15.2631 1.36047 14.637C0.721394 14.0109 0.323574 13.1795 0.237 12.289L0.197 11.864L0.122 10.954C0.0455376 9.97114 0.00484402 8.98582 0 8C0 7.017 0.052 5.989 0.122 5.046L0.197 4.136C0.21 3.99 0.223 3.849 0.237 3.711C0.323541 2.8207 0.721217 1.98942 1.36009 1.36334C1.99897 0.737271 2.83813 0.356503 3.73 0.288L4.551 0.224L5.451 0.163L6.413 0.106L7.417 0.0580001C8.268 0.0220001 9.145 0 10 0ZM8 5.575V10.425C8 10.887 8.5 11.175 8.9 10.945L13.1 8.52C13.1914 8.46739 13.2673 8.39162 13.3201 8.30033C13.3729 8.20904 13.4007 8.10545 13.4007 8C13.4007 7.89455 13.3729 7.79096 13.3201 7.69967C13.2673 7.60838 13.1914 7.53261 13.1 7.48L8.9 5.056C8.80876 5.00332 8.70526 4.9756 8.5999 4.97562C8.49455 4.97563 8.39106 5.00339 8.29983 5.0561C8.20861 5.1088 8.13287 5.1846 8.08024 5.27587C8.02761 5.36713 7.99993 5.47065 8 5.576V5.575Z"
              fill="white"></path>
          </svg>
          <svg
            class="mx-2"
            width="20"
            height="12"
            viewBox="0 0 20 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 0C7.5913 0 9.11742 0.632141 10.2426 1.75736C11.3679 2.88258 12 4.4087 12 6C12 7.5913 11.3679 9.11742 10.2426 10.2426C9.11742 11.3679 7.5913 12 6 12C4.4087 12 2.88258 11.3679 1.75736 10.2426C0.632141 9.11742 0 7.5913 0 6C0 4.4087 0.632141 2.88258 1.75736 1.75736C2.88258 0.632141 4.4087 0 6 0ZM15 1C16.5 1 17.5 3.239 17.5 6C17.5 8.761 16.5 11 15 11C13.5 11 12.5 8.761 12.5 6C12.5 3.239 13.5 1 15 1ZM19 1.5C19.38 1.5 19.712 2.327 19.88 3.746L19.927 4.189L19.946 4.424L19.976 4.918L19.986 5.177L19.998 5.718L20 6L19.998 6.282L19.986 6.823L19.976 7.083L19.946 7.576L19.926 7.811L19.881 8.254C19.712 9.674 19.381 10.5 19 10.5C18.62 10.5 18.288 9.673 18.12 8.254L18.073 7.811C18.0661 7.73271 18.0598 7.65438 18.054 7.576L18.024 7.082C18.0201 6.99569 18.0168 6.90935 18.014 6.823L18.002 6.282V5.718L18.014 5.177L18.024 4.917L18.054 4.424L18.074 4.189L18.119 3.746C18.288 2.326 18.619 1.5 19 1.5Z"
              fill="white"></path>
          </svg>
         <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20más" class="fixed bottom-4 right-4 px-6 py-3 rounded-full bg-green-500 text-white flex items-center hover:scale-110 hover:shadow-lg transition-transform transition-duration-500">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 48 48">
            <path fill="#fff" d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"></path><path fill="#fff" d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"></path><path fill="#cfd8dc" d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z"></path><path fill="#40c351" d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"></path><path fill="#fff" fill-rule="evenodd" d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z" clip-rule="evenodd"></path>
            </svg>

</a>
        </div>
      </div>
    </div>
  </div>
</footer>
