---
import { Image } from "astro:assets";
import nibble from "./../../assets/img/nibble.png";
import { ChevronDown } from "lucide-astro";

const navbarItems = [
  {
    name: "Servicios",
    path: "#",
    target: "_self",
    subItems: [
      {
        name: "Desarrollo Web",
        path: "/services/desarrollo-software",
        target: "_self",
      },
      {
        name: "Desarrollo Web",
        path: "/services/desarrollo-software",
        target: "_self",
      },
    ],
  },
  {
    name: "Portafolio",
    path: "#",
    target: "_self",
    subItems: [
      {
        name: "Proyecto 1",
        path: "/portfolio/proyecto1",
        target: "_self",
      },
    ],
  },
  {
    name: "Recursos",
    path: "#",
    target: "_self",
    subItems: [
      {
        name: "Blog",
        path: "/resources/blog",
        target: "_self",
      },
    ],
  },
  {
    name: "Equipo",
    path: "/team",
    target: "_self",
    subItems: [],
  },
];
---

<script is:inline>
  function toggleMenu() {
    if (!document.getElementById("navbar-sticky")) return;

    const menu = document.getElementById("navbar-sticky");
    menu.classList.toggle("hidden");
  }
  function showSubmenu(submenu) {
    submenu.classList.remove("hidden");
  }

  function hideSubmenu(submenu) {
    submenu.classList.add("hidden");
  }
</script>

<nav class="bg-black/70 bg-blur backdrop-blur-md w-full z-50 top-0 left-0 fixed py-2">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 max-sm:max-w-screen-sm md:flex-nowrap"
  >
    <a href="/" class="flex items-center">
      <Image
        src={nibble}
        class="w-[100px] h-[100px]"
        alt="TryCatch.tv Nibble"
      />
      <div class="flex flex-col md:hidden lg:flex">
        <span
          class="self-center text-3xl font-semibold whitespace-nowrap text-white md:text-xl"
          >Factory
        </span>
        <span class="text-[8px] text-white text-right">By TryCatch.tv</span>
      </div>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
      onclick="toggleMenu()"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col items-center p-4 md:p-2 mt-4 font-medium border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        {
          navbarItems.map((item) => (
            <li class="navbar-submenu relative">
              <a
                href={item.path}
                target={item.target || "_self"}
                class=" flex items-center gap-2 py-2 pl-3 pr-4 rounded hover:text-tcf-info hover:scale-105 transition duration-100 md:p-0 text-white "
              >
                {item.name}
                {item.subItems.length > 0 && <ChevronDown size={15} />}
              </a>
              {item.subItems.length > 0 && (
                <div
                  class="absolute hidden left-0  min-w-[200px] bg-white p-2 z-20 border rounded-lg"
                  onmouseover="showSubmenu(this)"
                  onmouseout="hideSubmenu(this)"
                >
                  {item.subItems.map((subItem) => (
                    <a
                      href={subItem.path}
                      class="block p-2 hover:bg-tcf-info  text-xs rounded"
                    >
                      {subItem.name}
                    </a>
                  ))}
                </div>
              )}
            </li>
          ))
        }
        <li>
          <a
            href={"/contact"}
            target={"_self"}
            class="block py-1.5 px-4 hover:bg-tcf-info hover:scale-105 text-tcf-blue rounded-3xl bg-white trasition duration-100"
          >
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-submenu:hover .absolute,
  .absolute:hover {
    display: block;
  }
</style>
